[Unit]
Description=Docker compose dozzle app
PartOf=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/opt/core/apps/dozzle
ExecStart=/usr/bin/docker compose up -d --remove-orphans
ExecStop=/usr/bin/docker compose down
StandardOutput=syslog
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target